.container{
  background-color: antiquewhite;
  /* border: 10px solid black; */
  /* padding: 20px; */
  /* margin: 0; */
  /* display: inline; */
  /* width: 700px; */
  /* height: 600px; */


  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 200px;
  gap: 10px;
}

.item{
  /* width: 150px; */
  /* height: 150px; */
  /* margin: 10px; */
  background-color: lightblue;
  border: 2px solid red;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.item:nth-child(1) {
  grid-column: span 2; /* Item 1 spans across two columns */
}

